.like-btn {
  background-color: rgba(145, 145, 145, 60%);
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: 100;
  border-radius: 99px 0 0 99px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    background: rgba(145, 145, 145, 100%);
  }
}

.comment-btn {
  background-color: rgba(145, 145, 145, 60%);
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: 100;
  border-radius: 0 99px 99px 0;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: rgba(145, 145, 145, 100%);
  }
}

.search-btn {
  background-color: #e47d31;
  border: none;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: 100;
  border-radius: 999px;
  width: 150px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  background: white;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
